*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Inter';
    font-size: 22px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}